*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
}

/* ------------------------ CABEÇALHO ------------------- */

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 56px;
    font-size: 16px;
    flex-wrap: wrap;
}

.logo{
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 32px;
}

nav ul li a{
    color: #667085;
    text-decoration: none;
}

.signIn{
    border: none;
    background-color: transparent;
    font-size: 16px;
    color: #667085;
    padding: 15px;
    cursor: pointer;
}

.signUp{
    background-color:#8E2424;
    font-size: 16px;
    padding: 10px 18px;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    
}

/* ----------------------- seção 1 -------------------- */


.section-one{
    text-align: center;
    height: 407px;
    width: fill(1,440px);
    padding: 96px 0;
}

.subtitulo{
    padding: 0.5rem 0px;
    color: #8E2424;
    font-size: 14px;
    font-weight: 600;
}

.tituloSobre{
    padding: 1rem 0;
    font-size: 48px;
}

.sobre{
    padding: 1rem 0;
    font-size: 20px;
    color: #667085;
}

/* ----------------------------- dados -------------------------- */

.container-two{
    display: grid;
    grid-template-columns: 278px 278px 278px 278px;
    gap: 0px 32px;
    padding: 0px 112px 96px 112px;
    width: 100%;
    justify-content: center;
}

.titulo-two{
    font-size: 60px;
    color: #8E2424;
    padding: 12px 0px;
}

.subtitulo-two{
    padding-bottom: 8px;
}

.container-two p {
    color: #667085;
    font-size: 1rem;
}

/* ----------------------- seção três ----------------------*/ 

.container-three{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
        
}

.vagas{
    color: #8E2424;
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    padding: 4px 12px 4px 12px;
    font-size: 14px;
    text-align: center;
}

.titulo-three{
    font-size: 36px;
}

.vagasText{
    padding-bottom: 64px;
    font-size: 20px;
    color: #667085;
}


.image{
    width: 76rem;
    height: 25rem;
}


/* ------------------- vagas ----------- */

.titulo-four{
    font-size: 20px;
    width: 768px;
    display: flex;
    margin: 0 auto;
    justify-content: flex-start;
    padding: 64px 0px 32px 0px;
    font-weight: 500;
}

.vagas-trabalho {
    width: 768px;
    margin: 0 auto 24px auto;
    list-style: none;
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 16px;
}

.titulo__da-vaga{
    font-size: 18px;
    font-weight: 500;
}

.vaga__job {
    padding: 24px 24px;
    display: flex;
    flex-direction: column;
    
}

.info-vaga p{
    display: inline-block;
    padding: 32px 24px 0px 0px;
    color: #667085;
    font-size: 16px;
}

/* --------------------- section 5 ---------------- */
#article{
    width: 76rem;
    height: 25.25rem;
    padding: 64px;
    background-color: rgba(195, 25, 25, 0.04);
    text-align: center;
    margin: 0 auto;
}

.titulo-five{
    padding: 1rem 0;
    font-size: 2.25rem;
    font-weight: 500;
}

.perfil{
    padding: 1rem 0;
}

.textPerfil{
    padding: 1rem 0;
}

.perfilName{
    font-size: 16px;
    font-weight: 500;
}

.profissao{
    padding: 0.25rem 0;
    font-size: 14px;
    color: #667085;
}